/* Variables */
$primary-color: rgb(162, 54, 139);
$hover-color: #640645;
$secondary-color: #a53a9e;
$background-contact: rgba(8, 109, 141, 0.55);
$font-family-surfer: "Original Surfer", sans-serif;
$font-family-poiret: "Poiret One", sans-serif;

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografías */
.original-surfer-regular {
  font-family: $font-family-surfer;
  font-weight: 400;
  font-style: normal;
}

.poiret-one-regular {
  font-family: $font-family-poiret;
  font-weight: 400;
  font-style: normal;
}

/* Bodys */
.bodyIndex {
  background-color: rgb(167, 100, 203);
}

.bodyProyect {
  background-color: rgb(111, 165, 230);
}

.bodySkills {
  background: #f56ac2;
}

.bodyContact {
  background: $background-contact;
}

/* Navegación */
nav {
  a {
    text-decoration: none;
    color: black;
  }
}

.headerMenu {
  div {
    padding: 20px;
    background: $primary-color;

    nav {
      text-align: right;

      a {
        margin: 40px;
        color: white;

        &:hover {
          color: rgb(146, 158, 226);
        }
      }
    }
  }
}

/* Utilidades */
.fontSize28 { font-size: 28px; }
.fontSize18 { font-size: 18px; }
.fontSize14 { font-size: 14px; }
.fontSize12 { font-size: 12px; }

.colorWhite {
  color: white;
}

/* Sección perfil */
.sectionOnePerfilImageDiv {
  width: 50%;
  text-align: center;
  align-content: center;

  img {
    width: 60%;
    border-radius: 50%;
    border: 10px solid $primary-color;
  }
}

.sectionOneAboutmeDiv {
  width: 70%;
  text-align: center;
  padding: 20px;
}

.oneDivOneSectionIndex {
  justify-content: center;
}

/* Botón colapsable */
.btnColapse {
  background-color: $primary-color;
  border: 1px solid;
  border-radius: 16px;
  color: #fff;
  padding: 25px;
  margin: 25px;
  width: 250px;

  &:hover {
    background-color: $hover-color;
    color: #fff;
  }
}

/* Modal */
.modal-header {
  align-self: center;
  border: none;
}

.modalHobies {
  background: $primary-color;
  color: white;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  background: $primary-color;
  padding: 15px;
}

/* Card */
.card-img-top {
  height: 200px;
}

.card-body {
  align-content: center;
}

/* Progress Bar */
.progress-bar {
  background-color: $secondary-color;
  font-family: $font-family-surfer;
  font-size: 30px;
}

.progress {
  height: 2rem;
  background-color: #e9ecef;
  border-radius: 20px;
}

/* Botón Enviar */
.btnSend {
  background: $secondary-color;
  color: white;
  width: 50%;

  &:hover {
    background: #e09bdc;
    color: white;
    width: 70%;
  }
}
.justifyItems{
  justify-items: center;
}

/* Icono */
.material-symbols-outlined {
  vertical-align: bottom;
}